**/node_modules/
node_modules/
backend/node_modules/
.env
*.db
*.sqlite
*.log
.dart_tool/
.packages
build/
.pub-cache/
.pub/
android/.gradle
android/app/build
ios/Pods
ios/Runner.xcworkspace
mobile_app/.dart_tool/
mobile_app/build/
mobile_app/.packages
mobile_app/.pub/
mobile_app/.pub-cache/
mobile_app/android/.gradle/
mobile_app/android/app/build/
